@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,200;1,200&display=swap");

:root {
  --antique-brass: hsla(24, 31%, 58%, 1);
  --van-dyke-brown: hsla(26, 35%, 27%, 1);
  --blue-sapphire: hsla(200, 73%, 28%, 1);
  --light-blue: hsla(200, 73%, 72%, 0.5);

  --primary-color: var(--blue-sapphire);
  --secondary-color: white;
  --accent1-color: var(--van-dyke-brown);
  --accent2-color: var(--antique-brass);
  --heading-font: "Gochi Hand", cursive;
  --paragraph-font: "Poppins", sans-serif;
}
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0 2em;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
}
h2 {
  font-size: 2.5em;
  padding-bottom: 3px;
  border-bottom: 2px solid;
}
li {
  padding-bottom: 1em;
}
header {
  padding: 1em;
  text-align: center;
  font-size: x-large;
  color: var(--primary-color);
  background: radial-gradient(var(--accent2-color), var(--secondary-color));
}
header > h1 {
  color: var(--accent1-color);
}
footer {
  font-size: x-small;
  padding-bottom: 2rem;
}
footer > p {
  color: var(--secondary-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  line-height: 1.8em;
  margin: 2em;
  margin-top: 0;
}
p.colored {
  color: var(--accent1-color);
  background: radial-gradient(var(--accent2-color), var(--secondary-color));
}
.colors {
  width: 100%;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: var(--secondary-color);
}
.colors td {
  height: 3em;
  color: white;
  font-weight: bold;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
  color: black !important;
}
.tertiary {
  background-color: var(--tertiary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: var(--accent3-color);
}
a {
  color: var(--tertiary-color);
}


/* Navigation */
nav {
  border: 1px solid var(--antique-brass);
  border-left-width: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  flex-grow: 5;
}
nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  padding: 0;
  margin: 0;
}
nav a {
  padding: 0.5rem;
  min-width: 70px;
  text-decoration: none;
}
nav a:link,
nav a:visited {
  color: var(--blue-sapphire);
  transition: all 0.2s ease-out;
}
nav a:hover,
nav a.active {
  transition: all 0.3s ease-in;
  border-radius: 35px;
  color: white;
  background-color: var(--van-dyke-brown);
  box-shadow: 3px 3px 10px var(--antique-brass);
}
