/* Color scheme */
:root {
  --body-text: #1c0221;
  --section-background: #dec278;
  --main-background: white;
  --link: #21834a;
  --hover-link: #dec278;
}

/* Basic styles */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16pt;
  line-height: 1.5em;
  color: var(--body-text);
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
  background-image: url(../images/pineapples.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 25vh;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Montez", Helvetica, Arial, sans-serif;
  margin: 0;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: 0.1rem;
}

ul {
  list-style-type: square;
}

a {
  color: var(--link);
  transition: color 0.2s;
}

a:focus,
a:hover {
  color: var(--hover-link);
  transition: color 0.2s;
}

/* Section styles */
header,
main,
footer {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 760px;
  min-width: 320px;
}

header {
  border-radius: 0 0 1rem 1rem;
  background-color: var(--section-background)
}

header > h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

header > picture {
  float: right;
  box-shadow: 5px 5px 20px;
  margin-top: 0.5rem;
  width: 240px;
  height: 302px;
}

main {
  background-color: var(--main-background);
  margin-top: 2rem;
  border-radius: 1rem;
}

footer {
  clear: both;
  text-align: center;
  background-color: var(--section-background);
  opacity: 0.8;
  border-radius: 1rem;
  font-size: 0.8rem;
  line-height: 1.3em;

  margin-top: 2rem;
  backdrop-filter: blur(2px);
}

footer > p {
  margin: 0;
}

footer a:focus,
footer a:hover {
  color: white;
}

#updated {
  color: var(--link);
}

/* Small screen styles */
@media screen and (max-width: 650px) {
  body {
    font-size: 12pt;
  }
  header > h1 {
    font-size: 2rem;
  }
  header > picture {
    display: none;
  }
}
