html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: white;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 960px;
  min-width: 320px;
  background-color: white;
}

header {
  border-radius: 1rem;
  background-color: tan;
}

h1,
h2,
h3 {
  font-family: "Anton", "Arial Black", sans-serif;
  margin: 0;
}

header > h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

header > img {
  float: right;
  box-shadow: 5px 5px 40px;
  width: 160px;
}

h2 {
  border-bottom: 1px solid #333;
}

footer {
  clear: both;
  text-align: center;
  background-color: tan;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin-top: 2rem;
}

footer > p {
  margin: 0;
}

#updated {
  color: darkred;
}

@media screen and (max-width: 550px) {
  header > img {
    display: none;
  }
}
