/* https://coolors.co/ff1b1c-406e8e-ffffff-dec278-1c0221 */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16pt;
  color: #1c0221;
  background-color: white;
  margin: 0;
  padding: 0;
  background-image: url(../images/pineapples.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 25vh;
  width: 100%;
}

header,
main,
footer {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 760px;
  min-width: 320px;
}

header {
  border-radius: 1rem;
  background-color: #dec278;
}

h1,
h2,
h3 {
  font-family: "Anton", "Arial Black", sans-serif;
  margin: 0;
}

header > h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

header > img {
  float: right;
  box-shadow: 5px 5px 40px;
  width: 160px;
}

main {
  background-color: white;
  margin-top: 2rem;
  border-radius: 1rem;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: 0.1rem;
}

ul {
  list-style-type: square;
}

a {
  color: #21834a;
  transition: color 0.2s;
}

a:focus,
a:hover {
  color: #dec278;
  transition: color 0.2s;
}

footer {
  clear: both;
  text-align: center;
  background-color: #dec278;
  opacity: 0.8;
  border-radius: 1rem;
  font-size: 0.8rem;
  margin-top: 2rem;
  backdrop-filter: blur(2px);
}

footer > p {
  margin: 0;
}

footer a:focus,
footer a:hover {
  color: white;
}

#updated {
  color: #218380;
}

@media screen and (max-width: 550px) {
  body {
    font-size: 12pt;
  }
  header > h1 {
    font-size: 2rem;
  }
  header > img {
    display: none;
  }
}
