/* Color scheme */
:root {
  --body-text: #1c0221;
  --section-background: #dec278;
  --main-background: white;
  --link: #21834a;
  --hover-link: #dec278;
}

/* Basic styles */
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 0.8em;
  line-height: 1.5rem;
  color: var(--body-text);
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
  background-image: url(../images/pineapples.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Montez", Helvetica, Arial, sans-serif;
  margin: 0;
}

h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  letter-spacing: 0.1rem;
}

ul {
  list-style-type: square;
}

a {
  color: var(--link);
  transition: color 0.3s;
}

a:focus,
a:hover {
  color: var(--hover-link);
  transition: color 0.3s;
}

/* Section styles */
header,
main,
footer {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 760px;
}

header {
  background-color: var(--section-background);
  text-align: center;
}

header > h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2.1rem;
}

header > picture {
  margin: 0.1rem auto;
  width: 240px;
  height: auto;
}

picture > img {
  border-style: none;
  box-shadow: 0 0 30px #444;
  border-radius: 15px;
}

main {
  background-color: var(--main-background);
}

footer {
  clear: both;
  text-align: center;
  background-color: var(--section-background);
  opacity: 0.8;
  font-size: 0.8rem;
  line-height: 1.3em;
  /* Blur when background is underneath */
  backdrop-filter: blur(2px);
  margin-bottom: 12rem;
}

footer > p {
  margin: 0;
}

footer a:focus,
footer a:hover {
  color: white;
}

#updated {
  color: var(--link);
}
