@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// Define anchor tags in correct order.
@mixin anchors($tag: a) {
  #{$tag}:link,
  #{$tag}:visited,
  #{$tag}:hover,
  #{$tag}:active {
    @content;
  }
}

@mixin flex-column($justify: center, $align: center) {
  display: flex;
  flex-flow: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin container($max-width: $sm-break) {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;
}

@mixin responsive-image() {
  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
}

body {
  font-family: "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode",
    "Lucida Grande", Verdana, sans-serif;
  width: 100vw;
  color: $body-font;
  overflow-x: hidden;
  background-color: white;

  // IFRAME for matching content layout
  iframe {
    opacity: 0.5;
    position: absolute;
    width: calc(100vw + 16px);
    height: 100vh;
    overflow: hidden;
    z-index: -2;
    pointer-events: none;
  }
}

header,
main,
footer {
  opacity: 0.8;
  max-width: 45em;
}

@include anchors() {
  color: $body-font;
  text-decoration: none;
}

// ***************
// HEADER
// ***************
header {
  background-color: $link-blue;
  margin: 0 auto;
  width: 100%;

  border-bottom: 2px solid $dark-gray;
  margin-bottom: 0.5rem;

  & > * {
    max-width: 45rem;
  }

  .site-banner {
    @include flex($justify: space-between);

    height: 3.2rem;

    &__left {
      @include flex();

      background: black;
      height: 3.5rem;
      width: 3.5rem;

      .icon-byui-logo:before {
        font-size: 30px;
        color: white;
      }

      h1 {
        display: none;
      }
    }

    &__right {
      display: flex;
      gap: 0.9rem;
      font-size: 1.8rem;
      margin-right: 8px;
    }

    form {
      display: none;
    }
  }

  .site-header {
    background-color: $light-gray;
    display: flex;
    width: 100%;

    .container {
      width: 100%;
    }

    .site-name {
      font-size: 1.3rem;
      font-weight: 300;
      padding: 15px 0;
      width: calc(100% - 80px);
    }
  }
}

// ***************
// MAIN
// ***************
main {
  @include flex-column($align: stretch);
  @include container($sm-break);

  gap: 2.5rem;
}

.info-banner {
  @include flex-column($justify: stretch);

  width: 100%;
  background: black;
  color: white;
  padding: 20px;
  text-align: center;

  h2 {
    font-weight: 200;
    line-height: 1.25;
    margin-bottom: 0.8em;
  }

  a:hover,
  a:focus {
    background-color: $byui-blue;
  }
}

// .announcement {
//   @include responsive-image();
// }

.interest-box {
  border: 2px solid $light-gray;

  &__figure {
    @include responsive-image();
  }

  &__caption {
    @include flex($justify: space-between);

    width: 100%;
    padding: 5px 10px;
    font-weight: 700;
    color: $link-blue;
  }
}

.white-text,
.text-white {
  color: white;
}

// ***********************
//  Bootstrap-ish classes.
// ***********************

.d-flex {
  display: flex !important;
}
.justify-content-between {
  justify-content: space-between !important;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  padding: 6px 24px;
  border-radius: 4px;
}
.btn-blue {
  background-color: $link-blue;
  color: white !important;
}
.btn:not(.disabled):not(:disabled):hover {
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.float-right {
  float: right;
}

@media screen and (min-width: $sm-break) {
  body {
    background-image: url("images/byui-desktop-all.jpg");
  }
}
