@import "typography";
@import "icons";
@import "mixins";

$html-font-size: 16px;
$xs-break: rem(576);
$sm-break: rem(768);
$md-break: rem(992);
$lg-break: rem(1200);

// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: $html-font-size;
}

img {
  max-width: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  font-family: "BYUI Open Sans", "Open Sans", "Lucida Sans Unicode",
    "Lucida Grande", Verdana, sans-serif;
  width: 100vw;
  color: $body-font;
  overflow-x: hidden;
  background-color: white;

  // IFRAME for matching content layout
  iframe {
    opacity: 0.4;
    position: absolute;
    width: calc(100vw + 16px);
    height: 200vh;
    overflow: hidden;
    z-index: -2;
    pointer-events: none;
  }
}

header,
main,
footer {
  opacity: 0.8;
  max-width: 45em;
}

@include anchors() {
  color: $body-font;
  text-decoration: none;
}

// ***************
// HEADER
// ***************
header {
  background-color: $link-blue;
  margin: 0 auto;
  width: 100%;

  border-bottom: 2px solid $dark-gray;
  margin-bottom: rem(40);

  & > * {
    max-width: rem(720);
  }

  .site-banner {
    @include flex($justify: space-between);

    height: rem(64);

    &__left {
      @include flex();

      background: black;
      padding: 0 10px;
      height: 100%;

      .icon-byui-logo:before {
        font-size: rem(32);
        color: white;
      }

      h1 {
        display: none;
      }
    }

    &__right {
      display: flex;
      gap: rem(20);
      font-size: rem(32);
      padding-right: rem(20);
    }

    form {
      display: none;
    }
  }

  .site-header {
    background-color: $light-gray;
    display: flex;
    width: 100%;

    .container {
      width: 100%;
    }

    .site-name {
      font-size: rem(20);
      font-weight: 300;
      padding: 12px 0;
      width: calc(100% - 90px);
    }
  }
}

// ***************
// MAIN
// ***************
main {
  @include flex-column($align: stretch);
  @include container($sm-break);

  gap: rem(32);

  .info-banner {
    @include flex-column($justify: stretch);

    width: 100%;
    background: black;
    color: white;
    padding: 18px;
    text-align: center;

    .btn {
      font-size: rem(16);
    }

    h2 {
      font-size: rem(24);
      font-weight: 200;
      line-height: 1.5;
      margin-bottom: rem(8);
    }

    a:hover,
    a:focus {
      background-color: $byui-blue;
    }
  }

  // .announcement {
  //   @include responsive-image();
  // }

  .interest-box {
    border: 2px solid $light-gray;

    &__figure {
      @include responsive-image();
    }

    &__caption {
      @include flex($justify: space-between);

      width: 100%;
      font-size: rem(15.5);
      padding: 1px 12px 5px;
      font-weight: 200;
      color: $link-blue;
    }
  }

  .audience-button {
    @include flex($justify: space-between);
    font-size: rem(15);
    width: 100%;
    padding: 12px 20px;
  }

  .highlights {
    &-heading {
      font-size: rem(22);
      font-weight: 500;
      padding: 8px 22px;
      color: white;
    }

    &-link {
      @include flex($justify: space-between);

      font-size: rem(15);
      color: $byui-blue;
      border: 1px solid $med-gray;
      border-top: none;
      padding: 8px 22px;
    }

    &-calendar {
      font-size: rem(14);
      color: $dark-gray;
      font-weight: 200;
    }
  }
}

.white-text,
.text-white {
  color: white;
}

// ***********************
//  Bootstrap-ish classes.
// ***********************

.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.hidden {
  display: none;
}
.justify-content-between {
  justify-content: space-between !important;
}
.align-items-center {
  align-items: center !important;
}
.bg-gray {
  background-color: $dark-gray !important;
}
.bg-blue {
  background-color: $link-blue !important;
}

.btn {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  padding: 6px 24px;
  border-radius: 4px;
}
.btn-blue {
  background-color: $link-blue;
  color: white !important;
}
.btn:not(.disabled):not(:disabled):hover {
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.float-right {
  float: right;
}

.row {
  @include flex();
}
$cols: 12;
$width-pct: 100% / $cols;
@for $index from 1 through $cols {
  .col-#{$index} {
    flex: 0 0 $index * $width-pct;
    max-width: $index * $width-pct;
  }
}

.hidden-xs {
  display: none;
}

@media screen and (min-width: $xs-break) {
  .hidden-sm {
    display: none;
  }
}

@media screen and (min-width: $sm-break) {
  .hidden-md {
    display: none;
  }
  $cols: 12;
  $width-pct: 100% / $cols;
  @for $index from 1 through $cols {
    .col-md-#{$index} {
      flex: 0 0 $index * $width-pct;
      max-width: $index * $width-pct;
    }
  }
}

@media screen and (min-width: $md-break) {
  .hidden-lg {
    display: none;
  }
}

@media screen and (min-width: $lg-break) {
  .hidden-xl {
    display: none;
  }
}
