:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main,
nav {
  display: flex;
  place-content: center;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:focus {
  outline: 0;
  border-bottom: 2px solid black;
}

a:hover {
  border-bottom: 2px solid blue;
}

#modalBackground {
  display: none;
  place-content: center;
  position: absolute;
  top: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px) invert(100%);
}

#modal {
  background-color: lightgray;
  border-radius: 4px;
  width: max(min(40ch, 100%), 33vw);
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  overflow: hidden;
  margin: auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0;
}

.modal-title h3 {
  margin: 0;
  color: white;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

button.close {
  border: 0;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button.close:hover,
button.close:focus {
  background-color: rgba(255, 134, 134, 0.5);
}

button.close::before {
  content: "\2715";
  width: 100%;
  height: 100%;
}

.modal-body {
  padding: 1rem;
  word-break: break-all;
}

.modal-body img {
  max-width: 100%;
}
