*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 0;
}

main,
nav {
  position: relative;
  display: flex;
  place-content: center;
}

li::marker {
  font-variant-numeric: oldstyle-nums;
}

a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a:hover,
a:focus {
  outline: 0;
  text-decoration: dashed;
}

a:hover {
  color: black;
}

.spinner {
  position: absolute;
  height: 3em;
  width: 3em;
  background: url("../images/pokeball.svg") left no-repeat;
  background-size: contain;
  transform: rotate(0);

  animation: spin linear infinite 1s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/**************
  MODAL DIALOG
  *************/

#modalBackground {
  display: none;
  place-content: center;
  position: absolute;
  top: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px) invert(100%);
}

#modal {
  background-color: lightgray;
  border-radius: 4px;
  width: max(min(40ch, 100%), 33vw);
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  overflow: hidden;
  margin: auto;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin: 0;
}

.modal-title h3 {
  margin: 0;
  color: white;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

button.close {
  border: 0;
  background-color: transparent;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button.close:hover,
button.close:focus {
  background-color: rgba(255, 134, 134, 0.5);
}

button.close::before {
  content: "\2715";
  width: 100%;
  height: 100%;
}

.modal-body {
  padding: 1rem;
  word-break: break-all;
}

.pokemon {
  display: flex;
  place-content: center;
  position: relative;
  min-height: 300px;
  margin: auto;
}

.pokemon img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/********************
  PAGINATION CONTROL
  *******************/

nav {
  justify-content: stretch;
  align-items: stretch;
  margin: 0 auto;
  max-width: 50ch;
  height: 2em;
}

@media (max-width: 530px) {
  nav {
    font-size: 9px;
  }
}

nav div {
  width: 100%;
  display: flex;
}

nav button {
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.05em;
  padding: 0;
  width: 2em;
}

button.previous::before {
  content: "\25c0";
}

button.next::before {
  content: "\25b6";
}

span.pageNumber {
  cursor: pointer;
  flex-grow: 1;
}

span.pageNumber::before {
  content: ".";
}

span.pageNumber.current {
  background-color: black;
  color: white;
  pointer-events: none;
}

span.pageNumber:first-of-type,
span.pageNumber:last-of-type,
span.pageNumber.current,
span.pageNumber.current + span,
span.pageNumber.current + span + span {
  display: inline-flex;
  place-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  min-width: 2em;
}

span.pageNumber:first-of-type::before,
span.pageNumber:last-of-type::before,
span.pageNumber.current::before,
span.pageNumber.current + span::before,
span.pageNumber.current + span + span::before {
  content: attr(title);
  font-variant-numeric: oldstyle-nums;
  margin: auto;
}

/* Lighthouse wants big (48x48) touch targets. Me, no likee. */
@media (pointer: coarse) {
  a {
    line-height: 1.5;
  }

  nav * {
    height: 24px;
  }
}
