body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 4em;
  gap: 6em;
}

h1 {
  font-variant: small-caps;
}

h1 span {
  display: inline-block;
  color: #cf2f2f;
  transform: translateY(-30px);
}

.image {
  height: 141px;
  width: 248px;
  box-shadow: 0.5em 0.5em 1.5em rgba(0, 0, 0, 0.6);
  background: no-repeat url("../images/test-image.png");
  background-size: contain;
}

.image:before {
  text-shadow: 0 0 6px black;
}

.test2 {
  transform: translate(45px, -45px);
}

.test2:before {
  content: "translate(45px, -45px);";
}

.test3 {
  transform: scale(1.5, 0.9);
}

.test3:before {
  content: "transform: scale(1.5, 0.9);";
}

.test4 {
  transform: translateX(40px) scale(1.5);
}

.test4:before {
  content: "transform: translateX(40px) scale(1.5);";
}

.test5 {
  transform: rotate(10deg) translateX(40px) scale(1.5);
}

.test5:before {
  content: "transform: rotate(10deg) translateX(40px) scale(1.5);";
}

.test6 {
  transform: skew(15deg, 4deg);
}

.test6:before {
  content: "transform: skew(15deg, 4deg);";
}

.test8 {
  transform: rotate(20deg) translateX(150px);
}

.test8:before {
  content: "transform: rotate(20deg) translateX(150px);";
}

.test9 {
  transform: translateX(150px) rotate(20deg);
}

.test9:before {
  content: "transform: translateX(150px) rotate(20deg);";
}

.test10 {
  transition-property: transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  transition-delay: 500ms;
}

.test10:hover {
  transform: rotate(900deg);
}

.test10:before,
.test11:before,
.test12:before {
  content: "Hover me!";
  color: red;
  font-size: 48px;
  font-weight: bold;
}

.test11 {
  animation-name: appearDisappear;
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.test11:hover {
  animation-play-state: running;
}

@keyframes appearDisappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.test12 {
  animation-name: stingLikeABee;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  animation-play-state: paused;
}

.test12:hover {
  animation-play-state: running;
}

@keyframes stingLikeABee {
  0%,
  50% {
    transform: translateX(0) rotate(90deg);
  }
  25% {
    transform: translateX(-50%) rotate(-10deg);
  }
  75% {
    transform: translateX(50%) rotate(10deg);
  }
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
  height: 150px;
  background-image: linear-gradient(white, gray);
  z-index: -1;
}

.test13 {
  animation: ride 8s infinite linear;
  position: absolute;
  left: -90px;
}

@media (min-width: 48em) {
  .test13 {
    animation-duration: 12s;
  }
}

@media (min-width: 96em) {
  .test13 {
    animation-duration: 15s;
  }
}

.test13:after {
  content: "";
  width: 90px;
  height: 92px;
  background-image: url(../images/bike_sprite.png);
  display: block;
  margin: auto;

  animation-name: bike;
  animation-duration: 1s;
  animation-timing-function: steps(4, end);
  animation-iteration-count: infinite;
}

@keyframes bike {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -350px 0;
  }
}

@keyframes ride {
  from {
    left: -90px;
  }
  to {
    left: 100vw;
  }
}
