@media only screen and (min-width: 32.5em) {
  body {
    width: auto;
  }
  img {
    width: auto;
    max-width: 100%;
    box-shadow: 10px 10px 10px var(--body-text);
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  main > section {
    margin-right: 30px;
  }
}
