:root {
  --body-text: #605856;
  --background-color: #fbfcff;
  --footer-background: #fbfcff;
  --header-color: #274156;
  --link-color: #274156;
  --link-hover: #3190b3;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  line-height: 1.4rem;
  color: var(--body-text);
  background-color: var(--background-color);
  max-width: 350px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  color: var(--header-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
}

h2 {
  border-bottom: 1px solid var(--footer-background);
}

p {
  padding: 0.2rem;
}

a:link,
a:visited {
  color: var(--link-color);
}

a:active,
a:focus,
a:hover {
  color: var(--link-hover);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

main > section {
  width: 310px;
  margin-right: 15px;
}

img {
  width: 100%;
}

footer {
  background-color: var(--footer-background);
  color: var(--header-color);
  line-height: 1rem;
  margin-top: 2rem;
}

footer > p {
  margin: 0;
  font-size: 0.8rem;
  font-style: italic;
}
