@import url("https://fonts.googleapis.com/css2?family=Almendra&family=Titillium+Web:wght@900&display=swap");

@import "variables";
@import "glitch";
@import "rem";
@import "sidescroll";
@import "frames";
@import "headings";
@import "artwork";
@import "ellipsis";

@mixin wallpaper() {
  background: border-box $wallpaper-image;
  background-color: rgba($wallpaper-color, 0.2);
}

@mixin balcony() {
    background-image: url("../assets/furniture/MoonlitWindow583x632PNG.png");
    background-repeat: no-repeat;
    background-size: contain;
    filter: contrast(75%);
    filter: grayscale(50%);
}


/*@mixin combined() {
    background-image: url("../assets/MoonlitWindow583x632PNG.png") no-repeat contain, url($wallpaper-image) $wallpaper-color;
}*/


/*@mixin exit() {
    background-image: url(/wdd331-final/src/assets/old-wooden-door-png-download-wood-arch-doors-11562925739qvwekc1tfh.png);
    background-repeat: no-repeat;
    background-size: 200px 100%;
    
}*/


/*@mixin footer-background() {
    background-image: url('../assets/furniture/kisspng-shelf-bookcase-cupboard-old-bookcase-5b46bec647bca0.1323109215313630142938.jpg'), $wallpaper-image;
    background-position: left bottom;
    background-repeat: no-repeat;
    opacity: 0.1;
}*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 9px;
}

body {
    height: 100vh;
    background-image: linear-gradient( black, $purple, $dark-blue, darken($dark-blue, 20%));
}

p {
    line-height: 1.3;
    background-color: $beige;
    padding: rem(5px) rem(8px);
    text-align: center;
    font-family: $text-font;
    //@include ellipsis();
    // @include frame(rem(20px));
    @include border-frame(rem(30px));
}

$top-row: rem(120px);
.page-wrapper {
  @include sidescroll-root(rem(750px));
}

// Grid #1
#zen-intro {
  @include sidescroll-section(rem(750px + 160px));
  @include wallpaper();
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: $top-row 1fr;
  gap: rem(20px);
  padding-right: rem(200px);
  header {
    grid-column: 1 / 3;
    align-self: start;
    padding: rem(10px) rem(15px);
    line-height: 1.2;
  }
}

#zen-summary {
    grid-row-start: 2;
    padding: rem(20px) rem(5px);
    p {
        margin-bottom: rem(100px);
    }
}

#zen-preamble {
    grid-column-start: 3;
    grid-row-start: 2;
    padding: rem(20px) rem(15px);
    p {
        margin-bottom: rem(36px);
    }
    @include artwork(7,
    3,
    rem(60px));
}

// Grid #2
#zen-supporting {
  position: relative;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  margin-right: rem(30px);

  @include sidescroll-section(rem(3240px), rem(160px));
}

.explanation {
  display: grid;
  grid-template-rows: $top-row rem(270px) rem(290px);
  row-gap: rem(20px);
  width: rem(485px);
  padding: 0 rem(55px);

  @include wallpaper();
}

.participation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: rem(225px) rem(100px) 1fr;
  gap: rem(20px);
  width: rem(1050px);
  padding-top: $top-row;

  p {
    grid-row: 1 / 3;
  }

  p:nth-of-type(2) {
    grid-row: 1 / 2
  }

  h3 {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
    align-self: center;
  }

  @include wallpaper();
  @include furniture(3, rem(900px)) {
    grid-column: 1 / -1;
    grid-row-start: 3;
    background: red !important;
  };
}

// Grid #3
.benefits {
  width: rem(825px);
  height: rem(750px);
  padding: rem(100px) rem(180px);
  text-align: center;
  @include wallpaper();
}

// Grid #4
.requirements {
  height: rem(750px);
  width: rem(1300px);
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 1fr rem(200px) 1fr;
  grid-template-rows: rem(180px) rem(160px) rem(80px) 1fr;
  grid-auto-flow: column;
  gap: rem(20px);
  padding-top: $top-row;

  h3 {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: center;
  }
  p:nth-of-type(2) {
    grid-row: 2 / 4;
  }
  p:nth-of-type(3) {
    grid-column-start: 3;
  }
  p:nth-of-type(4) {
    grid-column-start: 3;
    grid-row-start: 2;
  }
  p:nth-of-type(5) {
    grid-column-start: 3;
    grid-row: 3 / -1;
    justify-self: end;
    width: rem(300px);
  }
  @include wallpaper();
}

footer {
    width: rem(400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include wallpaper();
    //@include footer-background();
    a {
        margin: 20px auto;
        margin-left: rem(70px);
        color: black;
        font-weight: bold;
        line-height: 1.3;
        background-color: $mint;
        padding: rem(5px) rem(8px);
        text-align: center;
        font-family: $text-font;
        //@include ellipsis();
        // @include frame(rem(20px));
        @include border-frame(rem(15px));
        &:hover {
            color: red;
        }
    }
}

aside {
    height: rem(380px);
    width: rem(370px);
    padding: rem(20px);
    font-size: 0.75rem;
    display: grid;
    grid-template-rows: repeat(1, rem(250px)) rem(300px);
    grid-template-columns: 1fr rem(200px) 1fr;
    justify-content: center;
    align-items: center;
    gap: rem(50px);
    position: relative;
    z-index: 0;
    h3 {
        font-size: 1.2rem;
        text-align: center;
        color: maroon;
    }
    .wrapper {
        grid-row: span 2;
    }
    ul {
        line-height: 1.1;
        background-color: none;
        padding: rem(5px) rem(8px);
        list-style-type: none;
        text-align: center;
        color: rgb(235, 178, 33);
    }
    li {
        margin-bottom: rem(12px);
    }
    a {
        color: rgb(248, 209, 112);
        font-size: 1rem;
        text-decoration: none;
        &:hover {
            color: white;
        }
        &:active {
            color: maroon;
        }
    }
  @include balcony();
  //@include combined();
  @include sidescroll-section(rem(900px), rem(2650px));
  //@include wallpaper();
}

#design-selection {
    margin-top: rem(290px);
    margin-right: rem(100px);
    grid-column-start: 2;
    grid-row-start: 2;
}

#design-archives {
    grid-column-start: 2;
    grid-row-start: 2;
}

#zen-resources {
    margin-bottom: rem(140px);
    margin-left: rem(50px);
    grid-column-start: 1;
    grid-row-start: 2;
}

nav {
    ul {
        list-style-type: none;
    }
    li {
        margin-bottom: rem(12px);
    }
}

@import "breakpoints";
