@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --odd-row: #e7f0ed;
    --even-row: #e7ffed;
    --dark-header: #628ca6;
    --light-header: #7fb9c2;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* Shadow div, so the entire table shares a common shadow */
body div {
    box-shadow: 8px 8px 10px var(--dark-header);
    display: inline-block;
}

table {
    border-collapse: collapse;
    background-color: var(--even-row)
}

caption {
    background-color: var(--light-header);
    font-size: 1.65rem;
    line-height: 2.5rem;
}

thead {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: white;
    background-color: var(--dark-header);
}

th,
td {
    border: 1px solid #bbb;
    text-align: center;
    padding: 6px 8px;
}

tbody tr:nth-child(odd) {
    background-color: var(--odd-row);
}

/* SINGLE CLASS */
.emphasis {
    color: white;
    background-color: var(--dark-header);
}

tfoot {
    font-size: .75rem;
    line-height: .9rem;
    background-color: var(--light-header);
}