@media only screen and (min-width: 50em) {
  body {
    font-size: 1.1em;
    line-height: 1.3rem;
  }
  p {
    padding: 0 1.5rem;
  }
  h2 {
    margin-top: 3rem;
    font-size: 3rem;
  }
  h3 {
    line-height: 1.5rem;
  }
  header,
  footer {
    margin-top: 1.5rem;
    border-radius: 1rem;
    max-width: 1024px;
  }
  header {
    grid-template-columns: 1fr 80px 638px 1fr;
  }
  header img {
    margin-top: -15px;
    grid-column: 2/3;
  }
  .summary picture {
    height: 300px;
  }
  .article picture {
    float: right;
    max-width: 30%;
  }
  .summary {
    position: relative;
  }
  .overlay {
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 40px;
    left: 40px;
    padding: 20px;
    z-index: 1;
  }
  footer {
    clear: both;
  }
  footer .reversible {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 760px;
    margin: 0 auto;
  }
  footer .reversible > * {
    margin: 20px 10px;
  }
  footer .bar p {
    text-align: center;
    line-height: 1.3em;
    margin: 0;
  }
  .social {
    display: block;
  }
  .social a {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .facebook {
    background-image: url("https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Facebook-64.png");
  }
  .instagram {
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-64.png");
  }
  .twitter {
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-64.png");
  }
}
