@media only screen and (min-width: 50em) {
  body {
    font-size: 1.1em;
    line-height: 1.3rem;
  }
  p {
    padding: 0 1.5rem;
  }
  header,
  footer {
    margin-top: 1.5rem;
    border-radius: 1rem;
    max-width: 1024px;
  }
  header img {
    margin-top: -12px;
  }
  .article picture {
    float: right;
    max-width: 30%;
  }
  footer {
    clear: both;
  }
  .summary {
      position: relative;
  }
  .overlay {
      background-color: rgba(255, 255, 255, 0.65);
      position: absolute;
      top: 50px;
      left: 50px;
      padding: 20px;
      z-index: 1;
  }
}
