$body-color: rgb(66, 99, 189);

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $body-color;
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  max-width: 48em;
  margin: 0 auto;
  padding: 1em;
}

header {
  color: white;
  background-color: rgba($body-color, 0.8);

  h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1;
  }

  p {
    line-height: 1.1;
  }
}

li {
  margin: 1em 0;
}

.info {
  font-size: 0.8em;
}

q {
  font-style: italic;
  color: rgba(black, 0.5);
}

a,
a:visited {
  color: $body-color;
  background-color: rgba($body-color, 0.1);
  text-decoration: none;
  padding: 1px 3px;
  margin: 0 -3px;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $body-color;
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0 1em;

  color: white;
  background-color: rgba($body-color, 0.8);
  width: 100%;

  p {
    font-size: 0.8rem;
  }
}
