$body-color: rgb(0, 0, 80);

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  height: 100vh;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: $body-color;
  margin: 0;
  padding: 0;
  height: 100%;

  // Add space so footer doesn't cover text.
  & > section:last-of-type {
    padding-bottom: 5em;
  }
}

h2,
h3 {
  margin: 0 auto;
}

section {
  max-width: 48em;
  margin: 0 auto;
  padding: 1em;
}

header {
  color: white;
  background-color: rgba($body-color, 0.8);
  box-shadow: 0 5px 5px rgba(black, 0.6);

  h1 {
    font-size: 2em;
    margin-bottom: 0;
    line-height: 1;
  }

  p {
    line-height: 1.1;
  }
}

li {
  margin: 1em 0;
}

.info {
  font-size: 0.8em;
  margin-top: 0.5em;
}

q {
  font-style: italic;
  color: rgba(black, 0.6);
}

a,
a:visited {
  color: $body-color;
  background-color: rgba($body-color, 0.1);
  text-decoration: none;
  padding: 1px 3px;
  margin: 0 -3px;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: white;
    background-color: $body-color;
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0 1em;

  color: white;
  background-color: rgba($body-color, 0.8);
  width: 100%;

  p {
    font-size: 0.8rem;
    text-align: right;
  }
}
