@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --odd-row: #e7f0ed;
    --even-row: #e7ffed;
    --dark-header: #628ca6;
    --light-header: #7fb9c2;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

table {
    border-collapse: collapse;
    box-shadow: 8px 8px 10px var(--dark-header);
    background-color: var(--even-row)
}

thead {
    background-color: var(--light-header);
    font-size: 1.65rem;
    line-height: 1.8rem;
}

tbody tr:first-child {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: white;
    background-color: var(--dark-header);
}

th,
td {
    border: 1px solid #bbb;
    text-align: center;
    padding: 6px 8px;
}

tbody tr:nth-child(even) {
    background-color: var(--odd-row);
}

.emphasis {
    color: white;
    background-color: var(--dark-header);
}

tfoot {
    font-size: .75rem;
    line-height: .9rem;
    background-color: var(--light-header);
}