@import url("https://fonts.googleapis.com/css?family=Domine|IM+Fell+French+Canon&display=swap");

:root {
  --primary-color: #57585a;
  --secondary-color: #eeeeee;
  --tertiary-color: #a3a3a4;
  --accent1-color: #6f1a07;
  --accent2-color: #f0e5d5;
  --accent3-color: #b0806e;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.tertiary {
  background-color: var(--tertiary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2 {
  background-color: var(--accent2-color);
}
.accent3 {
  background-color: var(--accent3-color);
}

body {
  background-color: var(--tertiary-color);
  font-family: "Domine", Georgia, serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* GENERAL STYLES */
a:link,
a:visited {
  color: var(--accent1-color);
}
a:hover {
  color: var(--accent3-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IM Fell French Canon", Palatino, serif;
  color: var(--accent1-color);
  margin: 0;
}
p {
  font-family: var(--paragraph-font);
  color: var(--primary-color);
  line-height: 1.8rem;
  margin: 0.8rem 1.2rem;
  margin-top: 0;
}
p.colored {
  color: var(--accent1-color);
  background: radial-gradient(var(--accent2-color), var(--secondary-color));
}
.colors {
  width: 100%;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: var(--secondary-color);
}
.colors td {
  height: 3rem;
}

header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */
header {
  font-size: 1.2rem;
  background: linear-gradient(var(--primary-color), var(--accent1-color));
  display: flex;
  align-items: center;
  justify-content: center;
}
header a.logo {
  display: block;
  background: url("../images/Sunstone-transparent.webp");
  background-size: 90px;
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 75px;
  width: 75px;
  height: 75px;
}
header h1 {
  color: var(--accent2-color);
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  margin-left: 0.3rem;
  white-space: nowrap;
}

/* NAVIGATION */
nav {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}
nav > ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding-top: 0.5rem;
}
nav a {
  display: block;
  margin: 0 0.5rem;
  min-width: 80px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
  padding: 3px 0;
}
nav a:link,
nav a:visited {
  color: var(--accent2-color);
}
nav a:hover {
  transition: 500ms ease;
  border-bottom-color: var(--accent2-color);
}
nav a.active {
  border-bottom: 4px solid var(--accent3-color);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background-color: var(--secondary-color);
  padding-bottom: 2.5rem;
}

/* HERO IMAGES */
.banner-box {
  display: grid;
  margin-bottom: 2rem;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.hero-img {
  background-image: url("../images/hero-edited.webp");
}
.seattle-spotlight {
  background-image: url("../images/seattle_washington_temple_exterior-short.webp");
  background-position: top;
}
.breakfast-buffet {
  background-image: url("../images/breakfast-buffet-hero.webp");
}

/* CALL TO ACTION */
.action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem 3rem;
  padding: 1rem 2rem;
  background-color: rgba(235, 236, 230, 0.7);
}
.action button,
button[type="submit"] {
  font-size: 1.2rem;
  line-height: 2rem;
  width: 10em;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}
.action button:hover,
button[type="submit"]:hover {
  background-color: var(--accent2-color);
  color: var(--accent1-color);
}
.action button:active,
.action button:focus {
  border: 1px solid white;
}

/* MAIN */
main section,
.gallery,
#reservationForm {
  max-width: 800px;
  margin: 0 auto;
}
main section h2 {
  font-size: 1.8rem;
  padding-bottom: 3px;
  border-bottom: 2px solid;
  margin: 0.8rem 0;
  text-align: center;
  letter-spacing: 0.8px;
}
main section img {
  margin-bottom: 1rem;
  background-color: white;
  padding: 12px;
}
section:nth-child(even) > img {
  float: right;
  margin-left: 2%;
  transform: rotate(2deg);
  width: 35%;
}
section:nth-child(odd) > img {
  float: left;
  margin-right: 4%;
  transform: rotate(-1deg);
  width: 35%;
}
.shadow {
  box-shadow: 0.5rem 0.5rem 1.5rem var(--primary-color);
}

/* FOOTER */
footer {
  box-sizing: border-box;
  padding: 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: var(--secondary-color);
  background: linear-gradient(var(--primary-color), var(--accent1-color));
  margin-bottom: 4rem;
  border-radius: 0 0 3rem 3rem;
}

footer a:link,
footer a:visited,
aside a:link,
aside a:visited {
  color: var(--accent3-color);
}
footer a:hover,
aside a:hover {
  color: var(--secondary-color);
}

/* DATA */
.info {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem;
}
p.info {
  font-weight: bold;
}
.email {
  padding-left: 36px;
  background-image: url("https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/439/aiga_mail-64.png");
  background-size: 24px auto;
  background-position: 4px 50%;
  background-repeat: no-repeat;
}
.address {
  padding-left: 36px;
  background-image: url("https://cdn0.iconfinder.com/data/icons/map-location-solid-style/91/Map_-_Location_Solid_Style_07-64.png");
  background-size: 32px auto;
  background-position: left top;
  background-repeat: no-repeat;
}
.phone {
  padding-left: 36px;
  background-image: url("https://cdn2.iconfinder.com/data/icons/line-hero-essentials/32/Essentials_phone_telephone_vintage-64.png");
  background-size: 32px auto;
  background-position: left -0.2rem;
  background-repeat: no-repeat;
}
.services ul {
  list-style: none;
  padding-left: 36px;
  background-image: url("https://cdn3.iconfinder.com/data/icons/wpzoom-developer-icon-set/500/105-512.png");
  background-size: 24px auto;
  background-position: left top;
  background-repeat: no-repeat;
}

.social {
  text-align: right;
  margin-right: 36px;
}
.social a {
  display: inline-block;
  margin-left: 15px;
  border-radius: 32px;
  box-shadow: 2px 2px 5px black;
  height: 64px;
  width: 64px;
}
.social a:hover {
  transform: scale(1.1);
  transition: 200ms ease-in;
}

.social > a[href*=twitter] {
  background-image: url('https://cdn3.iconfinder.com/data/icons/capsocial-round/500/twitter-64.png');
}
.social > a[href*=facebook] {
  background-image: url('https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-64.png');
}
.social > a[href*=instagram] {
  background-image: url('https://cdn1.iconfinder.com/data/icons/smallicons-logotypes/32/instagram-64.png');
}

.copyright {
  color: var(--secondary-color);
  text-align: center;
  margin: 2rem auto 0;
  font-size: small;
}

/* ASIDE */
.aside {
  display: block;
  padding: 1rem 0.5rem;
  width: 30%;
  color: var(--secondary-color);
  background: var(--accent1-color);
  border-radius: 0 0 3rem 0;
  float: right;
  margin-left: 1.5rem;
}
.aside.info {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

/* GALLERY */
section .gallery img {
  padding: 0;
}
.gallery ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 780px;
  overflow: hidden;
  box-shadow: 10px 10px 40px var(--primary-color);
  border-radius: 2rem;
}
.gallery li {
  width: 76px;
  height: 597px;
  float: left;
  transition: all 0.7s;
  box-shadow: -2px 0 15px 2px var(--primary-color);
}
.gallery ul:hover li {
  width: 78px;
}
.gallery ul li:hover {
  width: 380px;
}

/* RESERVATION FORM */
input,
select,
button[type="submit"] {
  padding: 0.5rem;
  display: block;
  margin: 0.5rem 0;
  width: 20rem;
  box-shadow: 2px 2px 3px inset var(--primary-color);
  border-radius: 4px;
}

input:focus,
select:focus {
  background-color: var(--accent2-color);
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  box-shadow: none;
  width: auto;
}

label {
  color: var(--primary-color);
}

label > img {
  vertical-align: middle;
  display: inline-block;
  height: 24px;
  border: 2px solid var(--accent1-color);
}

/* SMALLER SCREEN WIDTHS */
@media screen and (max-width: 950px) {
  header h1 {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  body {
    font-size: 14px;
  }
  header a {
    margin: 0 auto;
  }
  header nav > ul {
    display: inline-block;
    margin-right: 1.2rem;
  }
  .action {
    margin: 0 auto;
    padding: 0 5%;
  }
  section img {
    display: block;
    float: none;
    width: 80%;
    padding: 5px;
  }
  footer {
    padding: 1rem 1.5rem;
  }
  .gallery ul {
    display: flex;
    flex-wrap: wrap;
    box-shadow: none;
    width: auto;
  }
  .gallery li {
    float: none;
    box-shadow: none;
    transition: none;
    height: auto;
    width: 100px;
  }
  img {
    padding: 0 !important;
    box-shadow: 2px 2px 10px var(--primary-color);
  }
  aside {
    width: 100%;
  }
}
@media screen and (max-width: 350px) {
  body {
    font-size: 10px;
  }
}
