<div class="reversible">
  <div class="contact">
    <h3>Contact Information</h3>
    <p class="address">1234 Wherever Drive, Fifth Floor, Downey, ID 83234</p>
    <p class="email">
      <a href="mailto:do-not-email@weathercats.org">bogus@weathercats.org</a>
    </p>
    <p class="phone">208-555-1234</p>
    <div class="social">
      <a
        target="_blank"
        rel="noreferrer"
        href="https://facebook.com"
        class="facebook"
        title="Facebook"
      ></a>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://instagram.com"
        class="instagram"
        title="Instagram"
      ></a>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://twitter.com"
        class="twitter"
        title="Twitter"
      ></a>
    </div>
  </div>
  <div>
    <iframe
      id="bingMapsFrame"
      width="500"
      height="400"
      frameborder="0"
      src="https://www.bing.com/maps/embed?h=400&w=500&cp={{location}}&lvl={{level}}&typ=d&sty=r&src=SHELL&FORM=MBEDV8"
      scrolling="no"
    >
    </iframe>
    <div
      style="
        white-space: nowrap;
        text-align: center;
        width: 350px;
        padding: 6px 0;
      "
    >
      <a
        id="largeMapLink"
        target="_blank"
        href="https://www.bing.com/maps?cp={{location}}&amp;sty=r&amp;lvl={{level}}&amp;FORM=MBEDLD"
        >View Larger Map</a
      >
      &nbsp; | &nbsp;
      <a
        id="dirMapLink"
        target="_blank"
        href="https://www.bing.com/maps/directions?cp={{location}}&amp;sty=r&amp;lvl={{level}}&amp;rtp=~pos.{{location}}____&amp;FORM=MBEDLD"
        >Get Directions</a
      >
    </div>
  </div>
</div>

<div class="bar">
  <p>
    &copy; <span id="year"></span> WeatherCats |
    <a href="https://www.byui.edu/online">Terms of Use</a> | John W Sudds Jr
  </p>
  <p><span id="date"></span></p>
</div>

<script src="js/updateTime.js" async></script>
<script src="js/mapLinks.js" async></script>
