<ul role="menubar">
  <li role="menuitem">
    <a href="index.html"><span aria-hidden="true">🏠</span> Home</a>
  </li>
  <li role="menuitem">
    <a href="preston.html"><span aria-hidden="true">😼</span> Preston</a>
  </li>
  <li role="menuitem">
    <a href="soda-springs.html"><span aria-hidden="true">🌲</span> Soda Springs</a>
  </li>
  <li role="menuitem">
    <a href="fish-haven.html"><span aria-hidden="true">🐟</span> Fish Haven</a>
  </li>
  <li role="menuitem">
    <a href="stormcenter.html"><span aria-hidden="true">🌧</span> Storm Center</a>
  </li>
  <li role="menuitem">
    <a href="gallery.html"><span aria-hidden="true">🎨</span> Gallery</a>
  </li>
</ul>

<script src="js/menu.js" async></script>