<h3>Weather Summary</h3>
<figure>
  <figcaption>Current conditions</figcaption>
  <!-- microdata -->
  <div itemscope itemtype="http://schema.org/Weather" id="weather">
    <div itemprop="temperature"></div>
    <div>
      <div
        itemscope
        itemtype="http://schema.org/Location"
        itemprop="city"
      ></div>
      <div itemprop="conditions"></div>
      <div id="range">
        <span itemprop="high"></span>&deg; <span itemprop="low"></span>&deg;
      </div>
    </div>

    <div class="heading">Humidity:</div>
    <div itemprop="humidity"></div>

    <div class="heading">Wind Speed:</div>
    <div itemprop="windSpeed"></div>

    <div class="heading">Wind Chill:</div>
    <div itemprop="windChill">N/A</div>
  </div>
</figure>

<script src="js/windchill.js" async></script>
<script src="js/weatherapi.js" async></script>
