@import url("https://fonts.googleapis.com/css2?family=Oldenburg&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #300;
  font-size: 0.8em;
}

p {
  line-height: 1.1;
}

h1,
h2,
h3 {
  font-family: "Oldenburg", cursive;
  font-size: 1.3rem;
}

#zen-intro {
  padding-top: 120px;
}

header {
  color: white;
  margin-bottom: 80px;
  margin-left: 80px;
  font-size: 1.2rem;
}

.page-wrapper {
  width: 100vh;
  height: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
          transform: rotate(-90deg) translate3d(0, -100vh, 0);
}

#zen-intro,
#zen-supporting {
  background: repeat-y top right url(https://jsuddsjr.github.io/files/Wallpaper90.png);
}

#zen-intro > div,
#zen-supporting > div {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(90deg) translate3d(-60px, calc(-100vh + 40px), 0);
          transform: rotate(90deg) translate3d(-60px, calc(-100vh + 40px), 0);
  background-color: #e9d2b7;
  margin-bottom: 40vh;
  max-width: 50vh;
  border: solid 4vmin #2d1d29;
  border-bottom-color: #4c3145;
  border-top-color: #0e090d;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.65);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.65);
  display: inline-block;
  padding: 4vmin;
  position: relative;
  text-align: center;
  /* "Random" pictures are hung at different locations */
}

#zen-intro > div:before,
#zen-supporting > div:before {
  border-radius: 25px;
  bottom: -2vmin;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}

#zen-intro > div:after,
#zen-supporting > div:after {
  border-radius: 2px;
  bottom: -2.5vmin;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

#zen-intro > div:nth-of-type(2n + 1),
#zen-supporting > div:nth-of-type(2n + 1) {
  -webkit-transform: rotate(90deg) translate3d(-20px, calc(-100vh + 80px), 0);
          transform: rotate(90deg) translate3d(-20px, calc(-100vh + 80px), 0);
}

#zen-intro > div:nth-child(3n),
#zen-supporting > div:nth-child(3n) {
  -webkit-transform: rotate(90deg) translate3d(60px, calc(-100vh + 140px), 0);
          transform: rotate(90deg) translate3d(60px, calc(-100vh + 140px), 0);
}

#zen-supporting .participation {
  min-width: 25vh;
}

#zen-supporting .requirements {
  min-width: 75vh;
}

#zen-supporting .benefits {
  min-width: 10vh;
}

@media screen and (max-height: 550px) {
  body {
    font-size: .7em;
  }
  #zen-intro > div,
  #zen-supporting > div {
    min-width: 70vh;
  }
}

@media screen and (max-height: 450px) {
  body {
    font-size: 0.65em;
  }
}
/*# sourceMappingURL=style.css.map */