$body-color: black;

$mq-small: 60em;
$mq-medium: 80em;
$mq-large: 96em;

@mixin mq($width) {
  @media screen and (min-width: $width) {
    & {
      @content;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

body {
  color: $body-color;
  margin: 0;
  padding: 0;
  height: 100%;

  // Add space so footer doesn't cover text.
  & > section:last-of-type {
    padding-bottom: 5em;
  }
}

section {
  max-width: 48em;
  margin: 0 auto;
  padding: 1em;

  @include mq($mq-medium) {
    max-width: $mq-medium;
  }

  @include mq($mq-large) {
    max-width: $mq-large;
  }
}

.app {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: start;
  height: 100%;

  h1 {
    text-align: center;
  }
}

.tasks {
  border: 1px solid $body-color;
  padding: 0.35em;
}

.task {
  $button-size: 1.5em;

  display: flex;
  align-items: center;
  width: 100%;

  .checkbox {
    input {
      display: none;
    }
    input:checked + label {
      background: center url("../images/cross.svg");
      background-size: contain;
      background-color: lightgreen;
    }
    label {
      display: block;
      background-color: #ccc;
      width: $button-size - .3;
      height: $button-size - .3;
      cursor: pointer;
      border-radius: 3px;
    }
  }

  input.description {
    width: 100%;
    padding: 0 0.5em;
    margin: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.25em;
  }

  button {
    border: 0;
    background: center url("../images/cross.svg") no-repeat;
    background-size: contain;

    width: $button-size;
    height: $button-size;
    border-radius: 50%;
    transition: all 300ms ease-in-out;

    &:disabled {
      opacity: 0.2;
    }
    &:not(:disabled) {
      background-color: rgba(red, 0.2);
      cursor: pointer;
      opacity: 1;
      &:hover {
        background-color: rgba(red, 0.5);
      }
    }
  }

  &.complete input.description {
    text-decoration: line-through;
  }
}

.footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0.4em;

  p {
    font-size: 0.8rem;
    width: 100%;
  }

  button {
    border: 0;
    background-color: transparent;
    &.selected {
      border: 1px solid $body-color;
    }
  }
}

.entry {
  display: flex;
  margin-top: auto;
  width: 100%;

  border: 1px solid $body-color;

  button {
    width: 2em;
    border: 0;
    font-size: 2em;
    background-color: transparent;
  }

  input {
    outline: 0;
    width: 100%;
    padding: 0.4em;
    border: 0;
    font-size: 1.2em;
  }
}
