*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 350px) {
  .board {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .board {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 96em) {
  .board {
    width: 600px;
    height: 600px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .board {
    cursor: url("../images/x-cursor.gif"), pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .board.cursor {
    cursor: url("../images/o-cursor.gif"), pointer;
  }
}

.cell {
  width: 33.3333%;
  height: 33.3333%;
}

.cell:nth-child(3n + 2), .cell:nth-child(3n + 3) {
  border-left: 1px solid black;
}

.cell:nth-last-child(n + 4) {
  border-bottom: 1px solid black;
}

.cell:before {
  content: attr(data-player);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  height: 100%;
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

@media screen and (max-width: 350px) {
  .cell:before {
    font-size: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .cell:before {
    font-size: 4rem;
  }
}

@media screen and (min-width: 96em) {
  .cell:before {
    font-size: 6rem;
  }
}

.cell.played:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cell.winner:before {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.cell.loser:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 750ms ease-in;
  transition: all 750ms ease-in;
}

.score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-size: 3rem;
  width: 300px;
  margin: 1rem auto;
}

.score > * {
  width: 33.3333%;
  height: 4.5rem;
}

.score .skin:before {
  content: attr(data-skin);
}

.score .points:before {
  content: attr(data-points);
  display: inline-block;
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
  -webkit-transition: all 350ms cubic-bezier(0, 0.5, 0.5, 1.5);
  transition: all 350ms cubic-bezier(0, 0.5, 0.5, 1.5);
}

.score .winner:before {
  -webkit-transform: scale(1.8) rotate(180deg);
          transform: scale(1.8) rotate(180deg);
}

@media screen and (max-width: 350px) {
  .score {
    font-size: 4rem;
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .score {
    font-size: 3rem;
    width: 250px;
  }
}

@media screen and (min-width: 96em) {
  .score {
    width: 400px;
  }
}

.js-skin-button {
  border: none;
  background: none;
}

.js-skin-button:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: 50%/50% no-repeat url(../images/refresh-icon.svg);
  background-size: contain;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.js-skin-button.played:before {
  -webkit-animation: spin 1s ease-in-out;
          animation: spin 1s ease-in-out;
}

@media (hover: hover) {
  .js-skin-button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  to {
    -webkit-transform: scale(0.8) rotate(720deg);
            transform: scale(0.8) rotate(720deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
  }
  to {
    -webkit-transform: scale(0.8) rotate(720deg);
            transform: scale(0.8) rotate(720deg);
  }
}

.turn {
  text-align: center;
  font-size: 1.5rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}
/*# sourceMappingURL=game.css.map */