@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,200;1,200&display=swap");

:root {
  --antique-brass: hsla(24, 31%, 58%, 1);
  --van-dyke-brown: hsla(26, 35%, 27%, 1);
  --blue-sapphire: hsla(200, 73%, 28%, 1);

  --heading-font: "Gochi Hand", cursive;
  --paragraph-font: "Poppins", sans-serif;
}
html {
  background-color: var(--blue-sapphire);
}
body {
  max-width: 900px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  font-size: 16px;
  background-color: white;
  padding: 0 2em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--blue-sapphire);
  white-space: nowrap;
}
h2 {
  font-size: 2.5rem;
  height: 2.1rem;
  border-bottom: 2px dashed;
}
li {
  padding-bottom: 1em;
}
p {
  font-family: var(--paragraph-font);
  color: black;
  line-height: 1.8em;
  margin: 2em;
  margin-top: 0;
}
a {
  color: var(--blue-sapphire);
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  padding: 0 0.5rem;
}
header > h1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Navigation */
nav {
  border: 1px solid var(--antique-brass);
  border-left-width: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  flex-grow: 5;
}
nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  padding: 0;
  margin: 0;
}
nav a {
  padding: 0.5rem;
  min-width: 70px;
  text-decoration: none;
}
nav a:link,
nav a:visited {
  color: var(--blue-sapphire);
}
nav a:hover,
nav a.active {
  transition: all 0.3s ease-in;
  border-radius: 35px;
  color: white;
  background-color: var(--van-dyke-brown);
  box-shadow: 3px 3px 10px var(--antique-brass);
}

/* Section headings */
section {
  min-height: 260px;
}
section.heading > h2 {
  text-align: right;
  padding-right: 1rem;
}
section.heading > img {
  float: left;
  box-shadow: 3px 3px 10px black;
  width: 320px;
  margin-right: 1.2rem;
}

/* Gallery Cards */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  position: relative;
  border: 1px solid var(--van-dyke-brown);
  min-width: 120px;
  width: 240px;
  height: 320px;
  margin: 0 12px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 3px 3px 10px var(--antique-brass);
}
.card h3 {
  text-align: center;
}
.card img {
  height: 190px;
  display: block;
  margin: 0 auto;
}
.card footer {
  position: absolute;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  top: 300px;
}
.next-page {
    text-align: center;
}

/* Footer */
footer {
  font-size: x-small;
  padding-bottom: 2rem;
  border-top: 1px dotted;
}
footer > p {
  color: var(--accent3-color);
  text-align: center;
}

/* Forms */
button {
    background-color: var(--blue-sapphire);
    padding: .4rem .8rem;
    color: white;
    border-radius: 7px;
}

@media screen and (max-width: 700px) {
  section.heading img {
    width: 40%;
  }
  h2 {
    font-size: 1.6rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 625px) {
  body {
    padding: 0 1rem;
    font-size: 14px;
  }
  header h1 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  header img {
    display: none;
  }
  nav {
    border-left-width: 1px;
  }
  nav ul {
    padding: 0;
    justify-content: center;
  }
}
