@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Poppins:ital,wght@0,200;1,200&display=swap");

:root {
  --antique-brass: hsla(24, 31%, 58%, 1);
  --van-dyke-brown: hsla(26, 35%, 27%, 1);
  --blue-sapphire: hsla(200, 73%, 28%, 1);
  --light-blue: hsla(200, 73%, 72%, 0.5);

  --heading-font: "Gochi Hand", cursive;
  --paragraph-font: "Poppins", sans-serif;
}
html {
  background-color: var(--blue-sapphire);
}
body {
  max-width: 900px;
  margin: 0 auto;
  font-family: var(--paragraph-font);
  font-size: 16px;
  background-color: white;
  padding: 0 2em;
  border-radius: 0 0 3rem 3rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 10px black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--blue-sapphire);
  white-space: nowrap;
}
h2 {
  font-size: 2.5rem;
  height: 2.1rem;
  border-bottom: 2px dashed;
  margin-bottom: 1rem;
}
li {
  padding-bottom: 1em;
}
p {
  font-family: var(--paragraph-font);
  color: black;
  line-height: 1.8em;
  margin-top: 0;
}
a {
  text-decoration: none;
  border-radius: 3px;
}
a:link,
a:visited {
  font-weight: bolder;
  color: var(--van-dyke-brown);
}
a:hover,
a:active {
  color: white;
  background-color: var(--antique-brass);
}

/* Header */
header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  padding: 0 0.5rem;
}
header > h1 {
  margin: 0;
  font-size: 2rem;
  margin-top: 1rem;
}

/* Navigation */
nav {
  border: 1px solid var(--antique-brass);
  border-left-width: 0;
  margin-left: 1rem;
  margin-top: 1rem;
  flex-grow: 5;
}
nav > ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav li {
  padding: 0;
  margin: 0;
}
nav a {
  padding: 0.5rem;
  min-width: 70px;
  text-decoration: none;
  border-radius: 35px;
  transition-timing-function: ease-in-out;
}
nav a:link,
nav a:visited {
  color: var(--blue-sapphire);
  transition: all 200ms;
}
nav a:hover,
nav a.active {
  color: white;
  background-color: var(--van-dyke-brown);
  box-shadow: 3px 3px 10px var(--antique-brass);
  transition: color 1s, background-color 400ms;
}

/* Section headings */
main > section:nth-child(1) {
  min-height: 260px;
}
main > section:nth-child(1) > h2 {
  text-align: right;
  padding-right: 1rem;
}
main > section:nth-child(1) > img {
  float: left;
  box-shadow: 3px 3px 10px black;
  width: 320px;
  margin-right: 1.2rem;
}
main > section.no-img {
  min-height: 0;
}

/* Gallery Cards */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  position: relative;
  border: 1px solid var(--van-dyke-brown);
  min-width: 120px;
  width: 240px;
  height: 320px;
  margin: 0 12px;
  margin-bottom: 24px;
  overflow: hidden;
  box-shadow: 3px 3px 10px var(--antique-brass);
  transition: transform 200ms ease-out;
}
.card:hover {
  transform: scale(1.1);
  transition: transform 300ms ease-in;
}
.card h3 {
  text-align: center;
}
.card img {
  height: 190px;
  display: block;
  margin: 0 auto;
}
.card p {
  text-align: center;
}
.card footer {
  position: absolute;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  top: 300px;
}
.next-page {
  text-align: center;
}

/* Artist Page */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.portfolio > * {
  margin: 12px 0 0 12px;
}
.portfolio img {
  box-shadow: 3px 3px 10px var(--antique-brass);
  padding: 3px;
}
.videos {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 2rem;
  overflow: hidden;
}
.videos iframe {
  background-color: var(--antique-brass);
  box-shadow: 3px 3px 10px var(--antique-brass);
  border: 0;
}
.videos iframe:nth-of-type(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.bio a {
  padding: 0 5px 0 32px;
  margin-bottom: .2rem;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}
.bio a:hover, .bio a:active {
  padding: 3px 5px 3px 32px;
  background-color: var(--antique-brass);
  transition: all 500ms ease-in-out;
}
a[title=website] {
  background-image: url('../images/website-icon.png');
}
a[title=Facebook] {
  background-image: url('../images/facebook-icon.png');
}
a[title=Instagram] {
  background-image: url('../images/instagram-icon.png');
}


/* Footer */
footer {
  font-size: x-small;
  padding-bottom: 1rem;
  border-top: 1px dotted;
}
footer > p {
  color: var(--accent3-color);
  text-align: center;
}

/* Forms */
form {
  margin-bottom: 2rem;
}
button {
  background-color: var(--blue-sapphire);
  padding: 0.4rem 0.8rem;
  color: white;
  border-radius: 7px;
  font-size: 1.1rem;
}
input[name=q] {
  padding-right: 48px;
}
input[name=q] + button {
  border: 0;
  background-color: transparent;
  margin-left: -48px;
}
fieldset {
  position: relative;
  border: 0;
  margin-bottom: 0.5rem;
}
label {
  position: absolute;
  left: 1.5rem;
}
input {
  color: var(--blue-sapphire);
  padding: 1.3rem 1rem 0;
  font-size: 1.1rem;
  border-radius: 5px;
  width: 18rem;
}
input:focus {
  background-color: var(--light-blue) !important;
}

/* Search results */
.search {
  display: flex;
  justify-content: center;
}
table.results {
  width: 100%;
  margin-bottom: 2rem;
}
table.results tr {
  display: grid;
  grid-template-columns: 48px 3fr 1fr 2fr 2fr 1fr;
  grid-gap: .5rem;
  padding: .2rem;
}
table.results tr:nth-child(2n + 3) {
  background-color: hsla(24, 31%, 58%, .2);
}
th {
  text-align: left;
  border-bottom: 2px solid var(--antique-brass)
}
th:first-child {
  border: 0;
}
img.preview {
  height: 24px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  main > section:nth-child(1) > img {
    width: 40%;
  }
  h2 {
    font-size: 1.6rem;
    height: 1.4rem;
  }
}

@media screen and (max-width: 625px) {
  body {
    padding: 0 1rem;
    font-size: 14px;
  }
  header h1 {
    display: none;
  }
  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .videos iframe {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
  header img {
    display: none;
  }
  nav {
    border-left-width: 1px;
  }
  nav ul {
    padding: 0;
    justify-content: center;
  }
  main > section:nth-child(1) {
    min-height: 180px;
  }
  input {
    width: 60%
  }
}
