$min-width: 110px;
$maincolor: var(--playa-light);
$secondarycolor: var(--body-text);
$items: 5;

@mixin transform($value) {
  //   -webkit-transform: ($value);
  //   -moz-transform: ($value);
  //   -ms-transform: ($value);
  transform: ($value);
}
@mixin transition($value) {
  //   -webkit-transition: ($value);
  //   -moz-transition: ($value);
  //   -ms-transition: ($value);
  transition: ($value);
}

nav {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

#main-menu {
  position: relative;
  font-family: "Montez", cursive;
  display: flex;
  align-items: center;
  height: 3rem;
  font-size: 1.5rem;
  line-height: 2  rem;
  li {
    position: relative;
    min-width: $min-width;
    text-align: center;
    a {
      display: block;
      margin: 0;
      padding: 0;
      color: var(--body-text);
      background: $maincolor;
      white-space: nowrap;
      text-decoration: none;
    }
  }

  .drop-menu {
    display: none;
    min-width: fit-content;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 2.8rem;
    opacity: 0;
    box-shadow: 5px 5px 5px var(--body-text-faded);
    border: 1px solid var(--body-text);
    @include transform(translate(0, -100%));
    @include transition(all 500ms 0.1s);
    a {
      text-align: left;
      font-family: "Open Sans", sans-serif;
      font-size: 0.8rem;
      line-height: 1.5rem;
      padding: 0 5px !important;
    }
    a:hover,
    a:focus {
      color: $maincolor !important;
      background: $secondarycolor !important;
    }
  }

  #marker {
    height: 100%;
    background: $secondarycolor;
    position: absolute;
    top: 0;
    border-radius: 5px;
    width: $min-width;
    z-index: -2;
    @include transition(all 0.35s);
  }
}

@for $i from 1 through $items {
  #main-menu li:nth-child(#{$i}).active ~ #marker {
    @include transform(translate(#{(-1 + $i) * $min-width}, 0));
  }
}

@for $i from 1 through $items {
  #main-menu li:nth-child(#{$i}) {
    &:hover .drop-menu,
    a[aria-expanded="true"] ~ .drop-menu,
    .drop-menu:focus-within {
      opacity: 1;
      @include transform(translate(0, 0));
    }
    &:hover ~ #marker {
      @include transform(translate(#{(-1 + $i) * $min-width}, 0));
    }
  }
}

@media screen and (max-width: 770px) {
  $min-width: 80px;

  #main-menu {
    font-size: 1.2rem;

    li {
      min-width: $min-width;
    }

    .drop-menu {
      top: 2.5rem;
      a {
        font-size: 0.6rem;
      }
    }

    #marker {
      width: $min-width;
    }
  }

  @for $i from 1 through $items {
    #main-menu li:nth-child(#{$i}).active ~ #marker {
      @include transform(translate(#{(-1 + $i) * $min-width}, 0));
    }
  }

  @for $i from 1 through $items {
    #main-menu li:nth-child(#{$i}) {
      &:hover .drop-menu,
      a[aria-expanded="true"] ~ .drop-menu,
      .drop-menu:focus-within {
        opacity: 1;
        @include transform(translate(0, 0));
      }
      &:hover ~ #marker {
        @include transform(translate(#{(-1 + $i) * $min-width}, 0));
      }
    }
  }
}
