:root {
  --body-text: #038387;
  --body-text-faded: rgba(3, 131, 135, 0.5);
  --link-color: #298fcf;
  --link-hover: #023f8a;
  --playa: #897362;
  --playa-light: #eee6de;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  line-height: 1.6rem;
  background-color: white;
  color: var(--body-text);
  min-width: 280px;
}

body,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
}

header {
  display: grid;
  width: 100%;
  padding: 0 20px;
  grid-template-columns: 120px 1fr;
  column-gap: 20px;
  align-items: center;
}

header a {
  background: none;
  padding: 0 10px;
}

section {
  padding: 1rem 0;
  width: 100%;
}

section:nth-child(odd) {
  background-color: var(--playa-light);
}

h1,
h2,
h3 {
  font-family: Montez, cursive;
  font-size: 200%;
  margin: 10pt 0 4pt;
}

a {
  color: var(--link-color);
  text-decoration: none;
  padding-left: 1.6rem;
  margin-left: -3px;
  background: url("../images/palm-tree-icon.png") no-repeat 0 50%;
  background-size: contain;
}

/* a::before {
    content: '🌴';
    font-size: .8rem;
    display: inline-block;
} */

a:hover {
  color: var(--link-hover);
  text-decoration: underline wavy var(--link-color);
}

p,
ul {
  max-width: 80%;
}

/* RULES FOR SITE PAGE */
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.colors {
  width: 80%;
}

.colors tr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.colors td {
  color: white;
  padding: 0.5rem 0.5rem;
  text-align: center;
  width: 100%;
}

.colors td:nth-child(1) {
  background-color: var(--body-text);
}
.colors td:nth-child(2) {
  background-color: var(--link-color);
}
.colors td:nth-child(3) {
  background-color: var(--link-hover);
}
.colors td:nth-child(4) {
  background-color: var(--playa);
}
.colors td:nth-child(5) {
  background-color: var(--playa-light);
  color: var(--body-text);
}
