@media only screen and (min-width: 1024px) {
  body {
    font-size: 18pt;
    line-height: 2rem;
  }

  header {
    grid-template-columns: 200px 1fr;
    column-gap: 30px;
  }

  h1 {
    font-size: 3rem;
  }

  p > a,
  li > a {
    padding-left: 2rem;
    margin-left: -6px;
  }

  .location p {
    font-size: 1.3rem;
  }

  form {
    width: 55%;
  }

  .rentals {
    max-width: 60%;
  }
}
