@media screen and (min-width: 850px) {
  html {
    background-image: url(../images/palm-tree-background.webp);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
  }

  body {
    font-size: 14pt;
    line-height: 1.8rem;
  }

  header {
    display: grid;
    width: auto;
    grid-template-columns: 120px 1fr;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  footer {
    width: 80%;
    margin-top: 400px;
    font-size: 0.6rem;
    text-align: center;
  }

  .weather {
    grid-template-columns: repeat(4, 100px);
    padding: 8px 12px;
    column-gap: 12px;
  }

  .location {
    grid-template-columns: 3fr 2fr;
    column-gap: 15px;
    width: 80%;
  }

  .location p {
    font-size: 0.9rem;
  }

  form {
    width: 75%;
  }

  .inventory {
    width: 90%; 
    font-size: 1rem;
  }

  form .inventory {
    width: 100%;
  }
  
}
