@charset "UTF-8";
nav {
  z-index: 1;
}

nav ul {
  list-style: none;
  padding: 0;
}

#main-menu {
  font-family: "Montez", cursive;
  font-size: 1.8rem;
  line-height: 2rem;
}

#main-menu a {
  display: block;
  margin: 0;
  padding: 0;
  color: var(--body-text);
  background: var(--playa-light);
  white-space: nowrap;
  text-decoration: none;
}

@media screen and (min-width: 32rem) {
  #main-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 2px;
            column-gap: 2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 3rem;
  }
  #main-menu li {
    position: relative;
    min-width: 125px;
    text-align: center;
  }
  #main-menu li:hover .drop-menu,
  #main-menu li a[aria-expanded="true"] ~ .drop-menu {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  #main-menu .drop-menu {
    display: none;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 2.8rem;
    opacity: 0;
    -webkit-box-shadow: 5px 5px 5px var(--body-text-faded);
            box-shadow: 5px 5px 5px var(--body-text-faded);
    border: 1px solid var(--body-text);
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: all 500ms 0.1s;
    transition: all 500ms 0.1s;
  }
  #main-menu .drop-menu a {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 0 5px !important;
  }
  #main-menu .drop-menu a:hover,
  #main-menu .drop-menu a:focus {
    color: var(--playa-light) !important;
    background: var(--body-text) !important;
  }
  #main-menu #marker {
    display: block;
    height: 100%;
    background: var(--body-text);
    position: absolute;
    top: 0;
    border-radius: 5px;
    width: 125px;
    z-index: -1;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  #main-menu li:nth-child(1).active ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2).active ~ #marker {
    -webkit-transform: translate(127px, 0);
            transform: translate(127px, 0);
  }
  #main-menu li:nth-child(3).active ~ #marker {
    -webkit-transform: translate(254px, 0);
            transform: translate(254px, 0);
  }
  #main-menu li:nth-child(4).active ~ #marker {
    -webkit-transform: translate(381px, 0);
            transform: translate(381px, 0);
  }
  #main-menu li:nth-child(5).active ~ #marker {
    -webkit-transform: translate(508px, 0);
            transform: translate(508px, 0);
  }
  #main-menu li:nth-child(1):hover ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2):hover ~ #marker {
    -webkit-transform: translate(127px, 0);
            transform: translate(127px, 0);
  }
  #main-menu li:nth-child(3):hover ~ #marker {
    -webkit-transform: translate(254px, 0);
            transform: translate(254px, 0);
  }
  #main-menu li:nth-child(4):hover ~ #marker {
    -webkit-transform: translate(381px, 0);
            transform: translate(381px, 0);
  }
  #main-menu li:nth-child(5):hover ~ #marker {
    -webkit-transform: translate(508px, 0);
            transform: translate(508px, 0);
  }
}

@media screen and (max-width: 770px) {
  #main-menu {
    font-size: 1.2rem;
  }
  #main-menu li {
    min-width: 80px;
  }
  #main-menu .drop-menu {
    top: 2.5rem;
  }
  #main-menu .drop-menu a {
    font-size: 0.6rem;
  }
  #main-menu #marker {
    width: 80px;
  }
  #main-menu li:nth-child(1).active ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2).active ~ #marker {
    -webkit-transform: translate(82px, 0);
            transform: translate(82px, 0);
  }
  #main-menu li:nth-child(3).active ~ #marker {
    -webkit-transform: translate(164px, 0);
            transform: translate(164px, 0);
  }
  #main-menu li:nth-child(4).active ~ #marker {
    -webkit-transform: translate(246px, 0);
            transform: translate(246px, 0);
  }
  #main-menu li:nth-child(5).active ~ #marker {
    -webkit-transform: translate(328px, 0);
            transform: translate(328px, 0);
  }
  #main-menu li:nth-child(1):hover ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2):hover ~ #marker {
    -webkit-transform: translate(82px, 0);
            transform: translate(82px, 0);
  }
  #main-menu li:nth-child(3):hover ~ #marker {
    -webkit-transform: translate(164px, 0);
            transform: translate(164px, 0);
  }
  #main-menu li:nth-child(4):hover ~ #marker {
    -webkit-transform: translate(246px, 0);
            transform: translate(246px, 0);
  }
  #main-menu li:nth-child(5):hover ~ #marker {
    -webkit-transform: translate(328px, 0);
            transform: translate(328px, 0);
  }
}

@media screen and (min-width: 1240px) {
  #main-menu {
    font-size: 2rem;
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  #main-menu li {
    min-width: 140px;
  }
  #main-menu .drop-menu {
    top: 2.8rem;
  }
  #main-menu .drop-menu a {
    font-size: 0.8rem;
  }
  #main-menu #marker {
    width: 140px;
  }
  #main-menu li:nth-child(1).active ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2).active ~ #marker {
    -webkit-transform: translate(144px, 0);
            transform: translate(144px, 0);
  }
  #main-menu li:nth-child(3).active ~ #marker {
    -webkit-transform: translate(288px, 0);
            transform: translate(288px, 0);
  }
  #main-menu li:nth-child(4).active ~ #marker {
    -webkit-transform: translate(432px, 0);
            transform: translate(432px, 0);
  }
  #main-menu li:nth-child(5).active ~ #marker {
    -webkit-transform: translate(576px, 0);
            transform: translate(576px, 0);
  }
  #main-menu li:nth-child(1):hover ~ #marker {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }
  #main-menu li:nth-child(2):hover ~ #marker {
    -webkit-transform: translate(144px, 0);
            transform: translate(144px, 0);
  }
  #main-menu li:nth-child(3):hover ~ #marker {
    -webkit-transform: translate(288px, 0);
            transform: translate(288px, 0);
  }
  #main-menu li:nth-child(4):hover ~ #marker {
    -webkit-transform: translate(432px, 0);
            transform: translate(432px, 0);
  }
  #main-menu li:nth-child(5):hover ~ #marker {
    -webkit-transform: translate(576px, 0);
            transform: translate(576px, 0);
  }
}

@media screen and (max-width: 32rem) {
  nav {
    border: 1px solid var(--body-text);
    color: var(--body-text);
    background-color: var(--playa-light);
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    cursor: pointer;
    padding: 5px 8px;
    justify-self: flex-end;
  }
  nav:before {
    content: "☰";
  }
  #main-menu {
    display: none;
    position: absolute;
    right: 20px;
    background: var(--playa-light);
    padding: 8px 12px;
    -webkit-box-shadow: 5px 5px 5px var(--body-text-faded);
            box-shadow: 5px 5px 5px var(--body-text-faded);
    border: 1px solid var(--body-text);
  }
  #main-menu li {
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: left;
    display: block !important;
  }
  #main-menu li.active a,
  #main-menu li a:hover {
    color: var(--playa-light);
    background: var(--body-text);
  }
  #main-menu li a[aria-expanded="true"] ~ .drop-menu {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
  }
  #main-menu li .drop-menu {
    max-height: 0;
    overflow: hidden;
  }
  #main-menu li .drop-menu a {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    min-width: 30rem;
  }
  #main-menu #marker {
    display: none;
  }
  nav[aria-expanded="true"] #main-menu {
    display: block;
  }
}
/*# sourceMappingURL=menu-slide.css.map */