:root {
  --body-text: #038387;
  --body-text-faded: rgba(3, 131, 135, 0.5);
  --link-color: #298fcf;
  --link-hover: #023f8a;
  --playa: #897362;
  --playa-light: #eee6de;
  --playa-light-faded: rgba(238, 230, 222, 0.5);
  --white-faded: rgba(255, 255, 255, 0.8);
}

* {
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 10pt;
  line-height: 1.6rem;
  background-color: transparent;
  color: var(--body-text);
  min-width: 320px;
}

body,
section,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 1rem 0;
  width: 100%;
  background-color: var(--white-faded);
}

section:nth-of-type(odd) {
  background-color: var(--playa-light-faded);
}

img {
  max-width: 100%;
}

header {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
}

header a {
  background: none;
  padding: 0;
  display: flex;
}

h1,
h2,
h3 {
  font-family: Montez, cursive;
  font-size: 200%;
  margin: 1.5rem 0 1rem;
}

p {
  padding: 0.8rem 1rem;
  background-color: var(--white-faded);
}

p.motto {
  text-align: right;
  width: 80%;
}

p.motto em {
  letter-spacing: 5px;
}

p > a {
  color: var(--link-color);
  text-decoration: none;
  padding-left: 1.6rem;
  margin-left: -3px;
  background: url("../images/palm-tree-icon.png") no-repeat 0 50%;
  background-size: contain;
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline wavy var(--link-color);
}

p,
ul {
  max-width: 80%;
}

/* WEATHER WIDGET */
.weather {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-end;
  background: linear-gradient(90deg, transparent, var(--body-text-faded));
  column-gap: 2px;
  font-size: 0.6rem;
  margin-left: 6px;
}

.weather .day {
  display: grid;
  justify-items: center;
  background-color: var(--white-faded);
  overflow: hidden;
}

.weather .day:nth-child(1) {
  border: 3px solid var(--body-text);
}

/* CONTACT PAGE */

.location {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.location p {
  padding: 5px 5px 5px 25px;
  font-size: 0.8rem;
  margin: 0;
}

.location .address {
  background: no-repeat 5px center white
    url("https://cdn4.iconfinder.com/data/icons/location-map-2/64/x-18-16.png");
}

.location .email {
  background: no-repeat 5px center white
    url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/mail-24-16.png");
}

.location .phone {
  background: no-repeat 5px center white
    url("https://cdn0.iconfinder.com/data/icons/simple-darkcon-1/91/telepnone-16.png");
}

.location a {
  text-align: center;
  background-color: var(--white-faded);
  padding: 10px;
  margin: 0;
}

.location a div {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.location a img {
  min-width: 100%;
}

/* FORMS */

form {
  width: 60%;
}
form > fieldset {
  display: block;
  position: relative;
  padding: 0;
}
form > fieldset > label {
  position: absolute;
  color: var(--playa);
  top: 0;
  left: 0.5rem;
  width: 100%;
  transition: 0.2s;
}
input,
textarea {
  padding: 1.5rem 0.5rem 0.5rem;
  border: 0;
  width: 100%;
}
input:focus + label,
textarea:focus + label {
  font-size: 0.8rem;
}
input:invalid,
textarea:invalid {
  border-bottom: 5px solid red;
}
input:valid,
textarea:valid {
  border-bottom: 5px solid var(--playa);
}
button[type="submit"] {
  margin-top: 1rem;
  padding: 0.3rem;
  width: 50%;
  background-image: linear-gradient(45deg, var(--playa), var(--playa-light));
  color: white;
  text-shadow: 1px 1px 2px var(--playa);
}
button[type="submit"]:hover {
  color: var(--body-text);
}

@media only screen and (max-width: 535px) {
  header {
    width: 100%;
    padding: 0 20px;
  }
}
