/* Medium screen styles */
@media only screen and (min-width: 32.5em) {
  div[itemtype='http://schema.org/Weather']
  {
    grid-template-columns: minmax(200px, 1fr) 1fr;
    justify-items: start;
  }
  [itemprop="temperature"] {
    text-align: right;
    margin-right: 0.8rem;
    justify-self: end;
    line-height: 3rem;
    padding-bottom: 1rem;
  }
  [itemprop="city"] {
    font-size: 32px;
    text-align: left;
  }
  [itemprop="conditions"],
  #range {
    text-align: left;
  }
  body {
    font-size: 1em;
    line-height: 1.5rem;
  }
  header {
    border-radius: 0 0 1rem 1rem;
  }
  header > h1 {
    font-size: 2.5rem;
  }
  nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  nav li {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 5em;
  }
  nav a {
    border: 1px solid black;
    border-bottom: 0;
    border-radius: 12px 0 0 0;
    padding: 5px 5px 5px 12px;
  }
  main,
  footer {
    margin-top: 1.5rem;
    border-radius: 1rem;
  }
}
