/* Color scheme */

:root {
  --body-text: #1c0221;
  --section-background: #dec278;
  --main-background: white;
  --link: #75005c;
  --hover-link: #dec278;
}

/* microdata */

[itemtype='http://schema.org/Weather']
{
  display: inline-grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  width: 100%;
}

[itemprop="temperature"] {
  display: inline;
  font-family: "Sansita Swashed", sans-serif;
  font-size: 72px;
  margin: 0;
  line-height: 82px;
  color: #aaa;
  text-shadow: 2px 2px 4px black;
}

[itemprop="city"] {
  font-size: 28px;
  text-align: center;
}

[itemprop="conditions"], #range {
  margin-bottom: -5px;
  text-align: center;
}

[itemprop="high"]::before {
  content: "↑";
}

[itemprop="low"]::before {
  content: "↓";
}

/* Basic styles */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  line-height: 1.3rem;
  color: var(--body-text);
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 280px;
}

h1,
h2,
h3 {
  font-family: "Sansita Swashed", sans-serif;
}

h1.sample {
  font-size: 2.5rem;
  text-align: center;
}
ul {
  list-style-type: square;
}

a {
  color: var(--link);
  transition: color 0.3s;
}

a:focus,
a:hover {
  color: var(--hover-link);
  transition: color 0.3s;
}

/* Section styles */

header,
nav,
main,
footer {
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 760px;
}

header {
  background-color: black;
  background: center no-repeat url(../images/dark-skies-and-lightning-storm.jpg);
  background-size: 100% auto;
  text-align: center;
}

header > h1 {
  margin-bottom: 0;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 2.1rem;
  color: white;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

header > h1 > img {
  padding-top: 0.5rem;
  height: 36px;
}

header > p {
  margin: 0;
  color: white;
}

nav {
  margin: 0 auto;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
  display: grid;
}

nav li {
  text-align: center;
}

nav a {
  display: block;
  line-height: .8rem;
  font-size: .8rem;
  white-space: nowrap;
  text-decoration: none;
  padding: 7px 0 7px;
}

nav a:link, nav a:visited {
  background-color: white;
  color: black;
  transition: all 300ms;
}

nav a:hover, nav a:focus, nav a[href='#'] {
  background-color: black;
  color: white;
  transition: all 300ms;
} 

main {
  background-color: var(--main-background);
}

figure {
  margin: 0 auto;
  display: grid;
  justify-items: center;
}

figure img {
  margin: 0 auto;
}

figcaption {
  display: inline-block;
  font-style: italic;
  font-size: .8rem;
}

footer {
  font-size: 0.8rem;
  line-height: 1.3em;
  margin-bottom: 12rem;
}

footer > p {
  margin: 0;
}

footer a:focus,
footer a:hover {
  color: white;
}

#updated {
  color: var(--link);
}
