@media only screen and (min-width: 48em) {
  body {
    font-size: 1.1em;
    line-height: 1.5rem;
  }

  p {
    padding: 0;
  }

  h2 {
    margin: 1.5rem 0 2rem;
    font-size: 3rem;
  }

  h3 {
    line-height: 1.7rem;
  }

  header,
  footer {
    margin-top: 1.5rem;
    max-width: 100%;
  }

  nav {
    max-width: 100%;
    background-color: white;
  }

  nav ul {
    max-width: 718px;
  }

  header {
    grid-template-columns: 1fr 80px 638px 1fr;
  }

  header img {
    margin-top: -15px;
    grid-column: 2/3;
  }

  section.town-info > div {
    height: 12rem;
    margin-top: 0;
  }

  aside.banner-box {
    column-gap: 2rem;
  }

  aside.banner-box p {
    font-size: 2rem;
    line-height: 2rem;
  }

  .summary picture {
    height: 300px;
  }

  .article picture {
    float: right;
    max-width: 30%;
  }

  #weather {
    grid-template-columns: auto 1fr;
  }

  [itemprop="temperature"] {
    justify-self: center;
  }

  .summary {
    position: relative;
  }

  .overlay {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 40px;
    left: 60px;
    padding: 1rem;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.65)
  }

  .overlay h3 {
    margin-top: 0;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery figure:hover {
    transform: scale(3);
    box-shadow: 0 0 5px black;
    z-index: 100;
  }

  footer {
    clear: both;
  }

  footer .reversible {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    max-width: 760px;
    margin: 0 auto;
  }

  footer .reversible>* {
    margin: 20px 10px;
  }

  footer .bar p {
    text-align: center;
    line-height: 1.3em;
    margin: 0;
  }

  .social {
    display: block;
  }

  .social a {
    display: inline-block;
    width: 64px;
    height: 64px;
  }

  .facebook {
    background-image: url("https://cdn3.iconfinder.com/data/icons/peelicons-vol-1/50/Facebook-64.png");
  }

  .instagram {
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Instagram_svg-64.png");
  }

  .twitter {
    background-image: url("https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-64.png");
  }


  div.column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .column-layout section {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  .column-layout section a {
    width: 250px;
  }

}