/* Medium screen styles */
@media only screen and (min-width: 32.5em) {
  body {
    font-size: 1em;
    line-height: 1.3rem;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  header h1 {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }
  header img {
    height: 80px;
  }
  header {
    grid-template-columns: 80px 1fr;
  }
  header div {
    justify-self: start;
    display: inline;
    height: 60px;
  }

  section,
  footer {
    margin: 1rem auto;
    padding: 0.5rem 2rem;
  }

  footer .address {
    display: block;
  }

  footer .bar {
    font-size: 1em;
  }

  #menu-state {
    display: none;
  }

  nav {
    position: sticky;
    top: 0;
    padding: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr;
  }

  nav ul {
    margin: 0 auto;
    position: relative;
    height: auto !important;
    visibility: visible !important;
    opacity: 1 !important;

    display: flex !important;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    box-shadow: none;
  }

  nav li {
    text-align: center;
    flex-grow: 1;
    font-size: 90%;
  }

  nav a {
    border-bottom: 0;
  }

  p.cats img {
    width: 25%;
  }

  aside.banner-box img {
    display: block;
    height: 36px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }

  #weather {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    column-gap: 1.2rem;
  }

  [itemprop="temperature"] {
    justify-self: end;
    align-self: center;
    line-height: 3rem;
    font-size: 4.1rem;
  }

  [itemprop="city"] {
    text-align: left;
  }

  [itemprop="conditions"],
  #range {
    margin-bottom: -1px;
    text-align: left;
  }

  #weather .heading {
    justify-self: end;
  }

  section.town-info {
    display: flex;
    justify-content: center;
  }

  section.forecast > div {
    column-gap: 10px;
  }

  section.town-info:nth-child(odd) {
    flex-direction: row-reverse;
  }

  section.town-info .motto {
    line-height: 1.2rem;
    font-size: 0.8rem;
  }

  section.town-info p {
    line-height: 1.5rem;
    font-size: 1rem;
    margin: 0;
  }

  section.town-info a {
    width: 350px;
  }

  #news picture {
    float: right;
    margin: 0 0 0.5rem 1rem;
    width: 50%;
  }
}
